################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MLI-ENV
/.vs/MLI/v16
/.vs/CMake Overview
/.vs/PythonSettings.json
/.vs/slnx.sqlite-journal
